<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all" />
<link type="text/css" rel="stylesheet" href="../static/css/cm-overlay.css" />
<link href="../static/css/popup-box.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css" media="all" />
<!--// css -->
<!-- font -->
<link href="http://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="../static/js/jquery-1.11.1.min.js"></script>
<script src="../static/js/bootstrap.js"></script>
	<!-- start-smooth-scrolling -->
			<script type="text/javascript" src="../static/js/move-top.js"></script>
			<script type="text/javascript" src="../static/js/easing.js"></script>
			<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
			</script>
	<!-- //start-smoth-scrolling -->
		<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<script src="../static/js/jquery.magnific-popup.js" type="text/javascript"></script>
<script type="text/javascript" src="../static/js/modernizr.custom.53451.js"></script>
 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
</script>	

</head>
<body>
<div class="header-top-w3layouts" id="header">
	<div class="container">
		<div class="col-md-8 navigation">
			<nav class="navbar navbar-default">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="link-effect-2" id="link-effect-2"> 
						<ul class="nav navbar-nav">
							<li class="active"><a href="index.html">赛事主题</a></li>
							<li><a href="#services" class="scroll"><span data-hover="Services">比赛内容</span></a></li>
							<li><a href="#works" class="scroll"><span data-hover="Works">组织机构</span></a></li>
							<li><a href="#clients" class="scroll"><span data-hover="Clients">报名须知</span></a></li>
							<li><a href="#contact" class="scroll"><span data-hover="Contact">我的参赛情况</span></a></li>
						</ul>
					</nav>
				</div>
				</div>
			</nav>
		</div>
		<div class="col-md-4 sign-up">
			<a  data-wow-delay=".5s" href="index.html" >退出</a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="header-bottom-w3">
	<div class="container">
		<div class="col-md-4 logo-agileits">
			<a href="#"><h1>居委会联系方式</h1></a>
		</div>
		<div class="col-md-8 call-mail-agileinfo">
			<div class="call">
				<h4>咨询电话</h4>
				<h3>+18045673456</h3>
			</div>
			<div class="mail">
				<h4>邮箱</h4>
				<h3><a href="mailto:info@example.com">1845019529@qq.com</a></h3>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="banner-w3l">
	
	<div class="banner-text-w3ls">
		<h3>赛事主题</h3>
		<h2>活动背景 </h2>
		<p>墙内开花墙外香，春城阳光照四方。绿色高速车马龙，和美“亚洲”心舒畅。
		昆明四季如春名符其实，尤其是呈贡方向高速的路旁花草树木绿意快然，让人心旷神怡。整天
		坐在家里或办公室的人们应该出去活动活动呼吸新鲜空气，-边骑自行车规范行驶，锻炼身体，一
		边欣赏美景，促使身心健康发展。
		</p>
	</div>
</div>
<div class="banner-btm-w3-agile" id="services">
	<div class="container">
		<div class="col-md-6 banner-btm-right-w3ls">
			<div class="col-md-6 banner-btm-right-w3ls-one">
				<div class="gap">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="../static/images/dyh4.jpg" alt=" " />
						</figure>
					</div>
				</div>
				<div class="grid">
					<figure class="effect-apollo">
						<img src="../static/images/dyh5.jpg" alt=" " />
					</figure>
				</div>
			</div>
			<div class="col-md-6 banner-btm-right-w3ls-two">
				<div class="gap">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="../static/images/dyh6.jpg" alt=" " />
						</figure>
					</div>
				</div>
				<div class="grid">
					<figure class="effect-apollo">
						<img src="../static/images/dyh7.jpg" alt=" " />
					</figure>
				</div>
			</div>
		</div>
		<div class="col-md-6 banner-btm-left-w3ls">
			<h3>环中国国际公路自行车赛</h3>

			 <p>环中国国际公路自行车赛是一项由中国自行车运动协会主办的公路自行车大赛。其比赛在中国境内举行。首届比赛于2010年举办，比赛通常于每年的八、九月举行，比赛起点位于西安，终点设在天津，途经城市每年不同。
				 2012年的比赛分为两个阶段，第一阶段共设6个赛段，比赛距离约为504.7公里；第二阶段共设5个分段，比赛总距离约为 538.4公里。并且首次在亚洲使用团体计时赛。
				 自创办以来，赛事已走过中国12个省、直辖市，共61座城市，吸引了来自世界五大洲83个国家700余名职业车手参赛，成为继环法、环西、环意、环湖赛四大赛事之后竞赛天数世界第五、亚洲第一的国际公路自行车赛</p>
			 <p class="w3layouts"></p>
			 <a href="single.html">View More</a>
		</div>
		<div class="clearfix"></div>
		</div>	
	</div>
	<!-- //banner-bottom -->
	
	<!--works-->
	<div class="works" id="works">
		<div class="container">
			<div class="col-md-8 work-left">
				<div class="work-left-top">
					<div class="col-md-8  work-left-top-left">
						<div class="first-img">
							<div class="view second-effect">
								<a class="cm-overlay" href="../static/images/dyh1.jpg">
									<img src="../static/images/dyh1.jpg" alt=" " />
									<div class="mask">
										
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 work-left-top-right">
						<div class="second-img">
							<div class="view second-effect">
								<a class="cm-overlay" href="../static/images/dyh2.jpg">
									<img src="../static/images/dyh2.jpg" alt=" " />
									<div class="mask">
										
									</div>
								</a>
							</div>
						</div>
						<div class="third-img">
							<div class="view second-effect">
								<a class="cm-overlay" href="../static/images/dyh3.jpg">
									<img src="../static/images/dyh3.jpg" alt=" " />
									<div class="mask">
									
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-4 work-right">
				<h3>组织机构</h3>
				<p>一、赛事组织单位
					　　指导单位：广东省体育局
					　　主办单位：广东省体育产业协会
					　　　　　　　广东省自行车协会
					　　支持单位：各参赛城市体育行政部门</p>


				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //works-->
				<script src="../static/js/jquery.tools.min.js"></script>
			<script src="../static/js/jquery.mobile.custom.min.js"></script>
				<script src="../static/js/jquery.cm-overlay.js"></script>
			<script>
				$(document).ready(function(){
					$('.cm-overlay').cmOverlay();
				});
			</script>
	
	<!-- clients-->
	<div class="clients" id="clients">
		<div class="container">
			<h3>报名须知</h3>
			<div class="wmuSlider example1 animated wow slideInUp" data-wow-delay=".5s">
					<div class="wmuSliderWrapper">
						<article style="position: absolute; width: 100%; opacity: 0;"> 
							<div class="banner-wrap">
								<div class="col-md-4 client-grids">
									<div class="col-md-8 c-info">
										1.报名费用
									</div>
									<br />
										<p>本次自行车比赛无报名费，报名截止后，主办方即为参赛人员购买赛事保险费用。</p><br>
									<div class="col-md-8 c-info">
										2.报名时间
									</div>
									<br>
									<p>2020年10月1日8:30—10:30</p>
									<div class="clearfix"></div>
								</div>
								<div class="col-md-4 client-grids">
									<div class="col-md-8 c-info">
										3.报名方法
									</div>
									<br />
										<p>环球购物中心1F总服务台，电话028-62732888</p><br>
									<div class="col-md-8 c-info">
										4.服务
									</div>
									<br>
									<p>内容</p>
									<div class="clearfix"></div>
								</div>
								<div class="col-md-4 client-grids">
									<div class="col-md-8 c-info">
										5.车辆要求
									</div>
									<br />
										<p>1. 所有自行车必须为山地自行车，车胎宽度不低于1.75，不限制是26.27.5,29车型；
											2. 车辆必须卸除任何会产生危险的部件（包括但不限于货架及脚撑等）；如果遇到套圈，请主动避</p><br>
									<div class="col-md-8 c-info">
										6.详细规则
									</div>
									<br>
									<p>1、比赛采用中国自行车运动协会的最新规则；

										2、比赛器材自备，并符合规则规定；运动员必须穿着骑行服和自行车头盔进行参赛，参加精英组比 赛，参赛选手必须穿锁鞋；

										3、每名参赛者限参加一个比赛项目；

										4、赛前30分钟运动员本人须戴好头盔、按照规定正确佩戴身体号码布。到起点签到，接受检录。否 则，不允许比赛。赛前10分钟停止检录；

										5、考虑运动员的健康和安全因素，裁判有权令明显落后的运动员退出比赛；

										6、如遇极端天气等不可抗拒的因素，裁判长有权决定停止比赛，并根据实际情况决定比赛结果。</p>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
							</div>
						</article>
						<article style="position: absolute; width: 100%; opacity: 0;"> 
							<div class="banner-wrap">
								<div class="col-md-4 client-grids">
									<div class="col-md-8 c-info">
										7.录取名次
									</div>
									<br />
										<p>、男子公路公开组报名人数在200人及以上，录取前60名，报名未满200人按照实际参赛人数的20%录取；

											　　2、女子公路公开组报名人数在80人及以上，录取前20名，报名未满80人按照实际参赛人数的20%录取；

											　　3，本次比赛同时设男子公路本地车手排名奖，录取男子公路车选手前20名予以奖励，凡石家庄籍男子参赛车手，正常完赛均有资格参与排名；</p><br>
									<div class="col-md-8 c-info">
										8.奖项设置
									</div>
									<br>
									<p>比赛项目

										冠军各1名

										亚军各1名

										季军各1名

										参与奖

										自行车赛

										男子青年组

										奖杯、海洋乐园温泉票、JBL Reflect BT 蓝牙无线运动耳机

										奖杯、海洋乐园温泉票、Apple iPod shuffle MD778CHA 多媒体播放器

										奖杯、海洋乐园温泉票、森海塞尔（Sennheiser） PX80 头戴式可折叠耳机

										Shoemarker运动袜和争鲜寿司餐券</p>
									<div class="clearfix"></div>
								</div>
								<div class="col-md-4 client-grids">
									<div class="col-md-8 c-info">
										9.保险说明
									</div>
									<br />
										<p>比赛期间参赛运动员的保险由大会负责（参赛运动员必须提供准确的身份证号码，如提供信息错误，责任自负）。如出现人身意外事故，直接与保险公司联系。</p><br>
									<div class="col-md-8 c-info">
										10.风险提示
									</div>
									<br>
									<p>自行车运动是风险竞技体育项目之一，具有不确定的风险。受中国大陆的保险条款约束，本次比赛组织方只可以为参赛者购买最基本的意外伤害险。当参赛者在比赛过程中受到意外伤害后，比赛组织方所购买的保险能支付的补偿是极有限的，同时组织方对于参赛者的财产损失不承担任何责任，所有参赛者必须充分预见比赛过程中可能发生的所有风险并自行承担大部分风险责任和后果。</p>
									<div class="clearfix"></div>
								</div>
								<div class="col-md-4 client-grids">
									<div class="col-md-8 c-info">
										11.责任声明
									</div>
									<br>
									<p>凡参加比赛人员必须严格遵守组委会和承办方的相关规定，听从活动组织方的时间节点及地点的安排,如因迟到等个人原因导致未能参加比赛，报名费用不予退还。

										此次活动为每一位参加比赛人员购买了定额保险。当由于出现各种意外事故、突发气候变化和急性疾病等不可预测因素造成参赛人员身体损害时，承办方有义务尽力救助，但如果造成了不可逆转的损害，参加比赛人员将接受保险公司赔偿保额范围以内的赔偿，并不再另行向比赛组委会和承办方主张赔偿或追究其它责任，同时当事人永远免除此次活动组委会和承办方的任何法律连带责任。

										7、该免责声明必须参加者自己签名，代为签名者视作已沟通并被授权，否则代签者承担后果</p><br>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
							</div>
						</article>
					</div>
				</div>
		</div>
	</div>
	<!--//clients-->
			<script src="../static/js/jquery.wmuSlider.js"></script>
								<script>
									$('.example1').wmuSlider();         
								</script> 

	<!-- news -->
	<div class="news">
		<div class="container">
			<h3>最新消息</h3>
			<div class="agileits_news_grids">
				<div class="tab-1 resp-tab-content">
					<div class="load_more">	
						<ul id="myList">
							<li>
								<div class="l_g">
									<div class="col-md-6 agileits_news_grid_left">
										<div class="agileits_news_grid_left_gridl">
											<p class="para1">28 <span>June- 2016</span></p>
										</div>
										<div class="agileits_news_grid_left_gridr">
											<a href="single.html"><img src="../static/images/n1.jpg" alt=" " class="img-responsive" /></a>
											<h4><a href="single.html">tempora incidunt sit</a></h4>
											<p>我是最新消息一</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="col-md-6 agileits_news_grid_left">
										<div class="agileits_news_grid_left_gridl">
											<p class="para1">30 <span>June- 2016</span></p>
										</div>
										<div class="agileits_news_grid_left_gridr">
											<a href="single.html"><img src="../static/images/n2.jpg" alt=" " class="img-responsive" /></a>
											<h4><a href="single.html">illumqui dolorem eum</a></h4>
											<p>我是最新消息二</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="clearfix"> </div>
								</div>
							</li>
							<li>
								<div class="l_g">
									<div class="col-md-6 agileits_news_grid_left">
										<div class="agileits_news_grid_left_gridl">
											<p class="para1">28 <span>June- 2016</span></p>
										</div>
										<div class="agileits_news_grid_left_gridr">
											<a href="single.html"><img src="../static/images/n3.jpg" alt=" " class="img-responsive" /></a>
											<h4><a href="single.html">tempora incidunt eius</a></h4>
											<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse 
												quam nihil molestiae consequatur, vel illum qui dolorem.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="col-md-6 agileits_news_grid_left">
										<div class="agileits_news_grid_left_gridl">
											<p class="para1">30 <span>June- 2016</span></p>
										</div>
										<div class="agileits_news_grid_left_gridr">
											<a href="single.html"><img src="../static/images/n4.jpg" alt=" " class="img-responsive" /></a>
											<h4><a href="single.html">illumqui dolorem eum</a></h4>
											<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse 
												quam nihil molestiae consequatur, vel illum qui dolorem.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="clearfix"> </div>
								</div>
							</li>

						</ul>
						<div id="loadMore">Load more</div>
						<div id="showLess">Show less</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //news -->

<script>
	$(document).ready(function () {
		size_li = $("#myList li").size();
		x=1;
		$('#myList li:lt('+x+')').show();
		$('#loadMore').click(function () {
			x= (x+1 <= size_li) ? x+1 : size_li;
			$('#myList li:lt('+x+')').show();
		});
		$('#showLess').click(function () {
			x=(x-1<0) ? 1 : x-1;
			$('#myList li').not(':lt('+x+')').hide();
		});
	});
</script>
<!-- //load-more -->
<div class="team">
	<div class="container">
		<h3>网站开发团队</h3>
		<div class="col-md-3 team-grids">
			<img src="../static/images/t1.jpg" alt=" " class="img-responsive">
			<div class="team-social-icons">
				<ul class="team-social-icons">
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="p-mask">
				<h4>Guy Ritchie</h4>
				<h5>Farmer</h5>		
			</div>

		</div>
		
		<div class="col-md-3 team-grids">
			<img src="../static/images/t2.jpg" alt=" " class="img-responsive">
			<div class="team-social-icons">
				<ul class="team-social-icons">
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="p-mask">
				<h4>Lisa kristen</h4>
				<h5>Farmer</h5>		
			</div>
			
		</div>
		<div class="col-md-3 team-grids">
			<img src="../static/images/t3.jpg" alt=" " class="img-responsive">
			<div class="team-social-icons">
				<ul class="team-social-icons">
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="p-mask">
				<h4>Rose Alba</h4>
				<h5>Agriculture analyst</h5>		
			</div>
		</div>
		<div class="col-md-3 team-grids">
			<img src="../static/images/t4.jpg" alt=" " class="img-responsive">
			<div class="team-social-icons">
				<ul class="team-social-icons">
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="p-mask">
				<h4>John Doe</h4>
				<h5>Farmer</h5>		
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

	<!-- Contact -->
	<div class="aitscontactw3l" id="contact">
		<div class="container">
			<h3>我的参赛情况</h3>
				参加比赛一
				<br />
				参加比赛二
		</div>
	</div>
	<!-- //Contact -->
	

	<!-- Footer -->
	<div class="footer">
		<div class="container">

			<div class="agilefooter-top">
				<!-- Quick-Links -->
				<div class="col-md-6 agilefootergrid footer-nav">
					<ul>
							<li class="active"><a href="#header" class="scroll"><span data-hover="Home">赛事主题</span></a></li>
							<li><a href="#services" class="scroll"><span data-hover="Services">比赛内容</span></a></li>
							<li><a href="#works" class="scroll"><span data-hover="Works">组织机构</span></a></li>
							<li><a href="#clients" class="scroll"><span data-hover="Clients">报名须知</span></a></li>
							<li><a href="#contact" class="scroll"><span data-hover="Contact">我的参赛情况</span></a></li>
					</ul>
				</div>
				<!-- //Quick-Links -->

				<!-- Newsletter -->
				<div class="col-md-6 social-icons">
					<ul>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<!-- //Newsletter -->
			<div class="clearfix"></div>
			</div>

			<div class="agilefooter-bottom">
				<p>Copyright &copy; 2020.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			</div>
		</div>

	</div>
	<!-- //Footer -->


<div class="pop-up"> 
	<div id="small-dialog2" class="mfp-hide book-form">
		<h3>Sign Up</h3>
			<form action="#" method="post">
				<input type="text" name="Name" placeholder="Your Name" required=""/>
				<input type="text" name="Email" class="email" placeholder="Email" required=""/>
				<input type="password" name="Password" class="password" placeholder="Password" required=""/>	
				<input type="password" name="Password" class="password" placeholder="Confirm Password" required=""/>
				<input type="submit" value="Sign Up">
			</form>
	</div>
</div>	

</body>
</html>