<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all" />
<link type="text/css" rel="stylesheet" href="../static/css/cm-overlay.css" />
<link href="../static/css/popup-box.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css" media="all" />
<!--// css -->
<!-- font -->
<link href="http://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="../static/js/jquery-1.11.1.min.js"></script>
<script src="../static/js/bootstrap.js"></script>
	<!-- start-smooth-scrolling -->
			<script type="text/javascript" src="../static/js/move-top.js"></script>
			<script type="text/javascript" src="../static/js/easing.js"></script>
			<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
			</script>
	<!-- //start-smoth-scrolling -->
		<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<script src="../static/js/jquery.magnific-popup.js" type="text/javascript"></script>
<script type="text/javascript" src="../static/js/modernizr.custom.53451.js"></script>
 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
</script>	

</head>
<body>
<div class="header-top-w3layouts" id="header">
	<div class="container">
		<div class="col-md-8 navigation">
			<nav class="navbar navbar-default">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="link-effect-2" id="link-effect-2"> 
						<ul class="nav navbar-nav">
							<li class="active"><a href="index.html">赛事主题</a></li>
							<li><a href="#services" class="scroll"><span data-hover="Services">比赛内容</span></a></li>
							<li><a href="#works" class="scroll"><span data-hover="Works">组织机构</span></a></li>
							<li><a href="#clients" class="scroll"><span data-hover="Clients">报名须知</span></a></li>
							<li><a href="#contact" class="scroll"><span data-hover="Contact">我的参赛情况</span></a></li>
						</ul>
					</nav>
				</div>
				</div>
			</nav>
		</div>
		<div class="col-md-4 sign-up">
			<a  data-wow-delay=".5s" href="index.html" >退出</a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="header-bottom-w3">
	<div class="container">
		<div class="col-md-4 logo-agileits">
			<a href="#"><h1>居委会联系方式</h1></a>
		</div>
		<div class="col-md-8 call-mail-agileinfo">
			<div class="call">
				<h4>咨询电话</h4>
				<h3>+18045673456</h3>
			</div>
			<div class="mail">
				<h4>邮箱</h4>
				<h3><a href="mailto:info@example.com">1845019529@qq.com</a></h3>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="banner-w3l">
	
	<div class="banner-text-w3ls">
		<h3>赛事主题</h3>
		<h2>活动背景 </h2>
		<p>墙内开花墙外香，春城阳光照四方。绿色高速车马龙，和美“亚洲”心舒畅。
		昆明四季如春名符其实，尤其是呈贡方向高速的路旁花草树木绿意快然，让人心旷神怡。整天
		坐在家里或办公室的人们应该出去活动活动呼吸新鲜空气，-边骑自行车规范行驶，锻炼身体，一
		边欣赏美景，促使身心健康发展。
		</p>
	</div>
</div>
<div class="banner-btm-w3-agile" id="services">
	<div class="container">
		<div class="col-md-6 banner-btm-right-w3ls">
			<div class="col-md-6 banner-btm-right-w3ls-one">
				<div class="gap">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="../static/images/bb1.jpg" alt=" " />
						</figure>
					</div>
				</div>
				<div class="grid">
					<figure class="effect-apollo">
						<img src="../static/images/bb2.jpg" alt=" " />
					</figure>
				</div>
			</div>
			<div class="col-md-6 banner-btm-right-w3ls-two">
				<div class="gap">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="../static/images/bb3.jpg" alt=" " />
						</figure>
					</div>
				</div>
				<div class="grid">
					<figure class="effect-apollo">
						<img src="../static/images/bb4.jpg" alt=" " />
					</figure>
				</div>
			</div>
		</div>
		<div class="col-md-6 banner-btm-left-w3ls">
			<h3>比赛内容</h3>
			<h4>具体事件</h4>
			 <p>什么比赛，具体人数，什么路线</p>	
			 <p class="w3layouts">什么比赛，具体人数，什么路线</p>
			 <a href="single.html">View More</a>
		</div>
		<div class="clearfix"></div>
		</div>	
	</div>
	<!-- //banner-bottom -->
	
	<!--works-->
	<div class="works" id="works">
		<div class="container">
			<div class="col-md-8 work-left">
				<div class="work-left-top">
					<div class="col-md-8  work-left-top-left">
						<div class="first-img">
							<div class="view second-effect">
								<a class="cm-overlay" href="../static/images/g1.jpg">
									<img src="../static/images/g1.jpg" alt=" " />
									<div class="mask">
										
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 work-left-top-right">
						<div class="second-img">
							<div class="view second-effect">
								<a class="cm-overlay" href="../static/images/g2.jpg">
									<img src="../static/images/g2.jpg" alt=" " />
									<div class="mask">
										
									</div>
								</a>
							</div>
						</div>
						<div class="third-img">
							<div class="view second-effect">
								<a class="cm-overlay" href="../static/images/g3.jpg">
									<img src="../static/images/g3.jpg" alt=" " />
									<div class="mask">
									
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-4 work-right">
				<h3>组织机构</h3>
				<p>什么组织机构</p>
				<div class="col-md-6 work-right-left">
					<div class="seventh-img">
							<div class="view second-effect">
								<a class="cm-overlay" href="../static/images/g7.jpg">
									<img src="../static/images/g7.jpg" alt=" " />
									<div class="mask">
										
									</div>
								</a>
							</div>
					</div>
					<div class="eighth-img">
							<div class="view second-effect">
								<a class="cm-overlay" href="../static/images/g8.jpg">
									<img src="../static/images/g8.jpg" alt=" " />
									<div class="mask">
										
									</div>
								</a>
							</div>
					</div>
				</div>
				<div class="col-md-6 work-right-right">
					<div class="ninth-img">
							<div class="view second-effect">
								<a class="cm-overlay" href="../static/images/g9.jpg">
									<img src="../static/images/g9.jpg" alt=" " />
									<div class="mask">
										
									</div>
								</a>
							</div>
					</div>
					<div class="tenth-img">
							<div class="view second-effect">
								<a class="cm-overlay" href="../static/images/g10.jpg">
									<img src="../static/images/g10.jpg" alt=" " />
									<div class="mask">
										
									</div>
								</a>
							</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //works-->
				<script src="../static/js/jquery.tools.min.js"></script>
			<script src="../static/js/jquery.mobile.custom.min.js"></script>
				<script src="../static/js/jquery.cm-overlay.js"></script>
			<script>
				$(document).ready(function(){
					$('.cm-overlay').cmOverlay();
				});
			</script>
	
	<!-- clients-->
	<div class="clients" id="clients">
		<div class="container">
			<h3>报名须知</h3>
			<div class="wmuSlider example1 animated wow slideInUp" data-wow-delay=".5s">
					<div class="wmuSliderWrapper">
						<article style="position: absolute; width: 100%; opacity: 0;"> 
							<div class="banner-wrap">
								<div class="col-md-4 client-grids">
									<div class="col-md-8 c-info">
										1.报名费用
									</div>
									<br />
										<p>内容</p><br>
									<div class="col-md-8 c-info">
										2.报名时间
									</div>
									<br>
									<p>内容</p>
									<div class="clearfix"></div>
								</div>
								<div class="col-md-4 client-grids">
									<div class="col-md-8 c-info">
										3.报名方法
									</div>
									<br />
										<p>内容</p><br>
									<div class="col-md-8 c-info">
										4.服务
									</div>
									<br>
									<p>内容</p>
									<div class="clearfix"></div>
								</div>
								<div class="col-md-4 client-grids">
									<div class="col-md-8 c-info">
										5.车辆要求
									</div>
									<br />
										<p>内容</p><br>
									<div class="col-md-8 c-info">
										6.详细规则
									</div>
									<br>
									<p>内容</p>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
							</div>
						</article>
						<article style="position: absolute; width: 100%; opacity: 0;"> 
							<div class="banner-wrap">
								<div class="col-md-4 client-grids">
									<div class="col-md-8 c-info">
										7.录取名次
									</div>
									<br />
										<p>内容</p><br>
									<div class="col-md-8 c-info">
										8.奖项设置
									</div>
									<br>
									<p>内容</p>
									<div class="clearfix"></div>
								</div>
								<div class="col-md-4 client-grids">
									<div class="col-md-8 c-info">
										9.保险说明
									</div>
									<br />
										<p>内容</p><br>
									<div class="col-md-8 c-info">
										10.风险提示
									</div>
									<br>
									<p>内容</p>
									<div class="clearfix"></div>
								</div>
								<div class="col-md-4 client-grids">
									<div class="col-md-8 c-info">
										11.责任声明
									</div>
									<br>
									<p>内容</p><br>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
							</div>
						</article>
					</div>
				</div>
		</div>
	</div>
	<!--//clients-->
			<script src="../static/js/jquery.wmuSlider.js"></script>
								<script>
									$('.example1').wmuSlider();         
								</script> 

	<!-- news -->
	<div class="news">
		<div class="container">
			<h3>最新消息</h3>
			<div class="agileits_news_grids">
				<div class="tab-1 resp-tab-content">
					<div class="load_more">	
						<ul id="myList">
							<li>
								<div class="l_g">
									<div class="col-md-6 agileits_news_grid_left">
										<div class="agileits_news_grid_left_gridl">
											<p class="para1">28 <span>June- 2016</span></p>
										</div>
										<div class="agileits_news_grid_left_gridr">
											<a href="single.html"><img src="../static/images/n1.jpg" alt=" " class="img-responsive" /></a>
											<h4><a href="single.html">tempora incidunt sit</a></h4>
											<p>我是最新消息一</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="col-md-6 agileits_news_grid_left">
										<div class="agileits_news_grid_left_gridl">
											<p class="para1">30 <span>June- 2016</span></p>
										</div>
										<div class="agileits_news_grid_left_gridr">
											<a href="single.html"><img src="../static/images/n2.jpg" alt=" " class="img-responsive" /></a>
											<h4><a href="single.html">illumqui dolorem eum</a></h4>
											<p>我是最新消息二</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="clearfix"> </div>
								</div>
							</li>
							<li>
								<div class="l_g">
									<div class="col-md-6 agileits_news_grid_left">
										<div class="agileits_news_grid_left_gridl">
											<p class="para1">28 <span>June- 2016</span></p>
										</div>
										<div class="agileits_news_grid_left_gridr">
											<a href="single.html"><img src="../static/images/n3.jpg" alt=" " class="img-responsive" /></a>
											<h4><a href="single.html">tempora incidunt eius</a></h4>
											<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse 
												quam nihil molestiae consequatur, vel illum qui dolorem.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="col-md-6 agileits_news_grid_left">
										<div class="agileits_news_grid_left_gridl">
											<p class="para1">30 <span>June- 2016</span></p>
										</div>
										<div class="agileits_news_grid_left_gridr">
											<a href="single.html"><img src="../static/images/n4.jpg" alt=" " class="img-responsive" /></a>
											<h4><a href="single.html">illumqui dolorem eum</a></h4>
											<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse 
												quam nihil molestiae consequatur, vel illum qui dolorem.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="clearfix"> </div>
								</div>
							</li>

						</ul>
						<div id="loadMore">Load more</div>
						<div id="showLess">Show less</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //news -->

<script>
	$(document).ready(function () {
		size_li = $("#myList li").size();
		x=1;
		$('#myList li:lt('+x+')').show();
		$('#loadMore').click(function () {
			x= (x+1 <= size_li) ? x+1 : size_li;
			$('#myList li:lt('+x+')').show();
		});
		$('#showLess').click(function () {
			x=(x-1<0) ? 1 : x-1;
			$('#myList li').not(':lt('+x+')').hide();
		});
	});
</script>
<!-- //load-more -->
<div class="team">
	<div class="container">
		<h3>网站开发团队</h3>
		<div class="col-md-3 team-grids">
			<img src="../static/images/t1.jpg" alt=" " class="img-responsive">
			<div class="team-social-icons">
				<ul class="team-social-icons">
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="p-mask">
				<h4>Guy Ritchie</h4>
				<h5>Farmer</h5>		
			</div>

		</div>
		
		<div class="col-md-3 team-grids">
			<img src="../static/images/t2.jpg" alt=" " class="img-responsive">
			<div class="team-social-icons">
				<ul class="team-social-icons">
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="p-mask">
				<h4>Lisa kristen</h4>
				<h5>Farmer</h5>		
			</div>
			
		</div>
		<div class="col-md-3 team-grids">
			<img src="../static/images/t3.jpg" alt=" " class="img-responsive">
			<div class="team-social-icons">
				<ul class="team-social-icons">
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="p-mask">
				<h4>Rose Alba</h4>
				<h5>Agriculture analyst</h5>		
			</div>
		</div>
		<div class="col-md-3 team-grids">
			<img src="../static/images/t4.jpg" alt=" " class="img-responsive">
			<div class="team-social-icons">
				<ul class="team-social-icons">
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="p-mask">
				<h4>John Doe</h4>
				<h5>Farmer</h5>		
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

	<!-- Contact -->
	<div class="aitscontactw3l" id="contact">
		<div class="container">
			<h3>我的参赛情况</h3>
				参加比赛一
				<br />
				参加比赛二
		</div>
	</div>
	<!-- //Contact -->
	

	<!-- Footer -->
	<div class="footer">
		<div class="container">

			<div class="agilefooter-top">
				<!-- Quick-Links -->
				<div class="col-md-6 agilefootergrid footer-nav">
					<ul>
							<li class="active"><a href="#header" class="scroll"><span data-hover="Home">赛事主题</span></a></li>
							<li><a href="#services" class="scroll"><span data-hover="Services">比赛内容</span></a></li>
							<li><a href="#works" class="scroll"><span data-hover="Works">组织机构</span></a></li>
							<li><a href="#clients" class="scroll"><span data-hover="Clients">报名须知</span></a></li>
							<li><a href="#contact" class="scroll"><span data-hover="Contact">我的参赛情况</span></a></li>
					</ul>
				</div>
				<!-- //Quick-Links -->

				<!-- Newsletter -->
				<div class="col-md-6 social-icons">
					<ul>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<!-- //Newsletter -->
			<div class="clearfix"></div>
			</div>

			<div class="agilefooter-bottom">
				<p>Copyright &copy; 2020.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			</div>
		</div>

	</div>
	<!-- //Footer -->


<div class="pop-up"> 
	<div id="small-dialog2" class="mfp-hide book-form">
		<h3>Sign Up</h3>
			<form action="#" method="post">
				<input type="text" name="Name" placeholder="Your Name" required=""/>
				<input type="text" name="Email" class="email" placeholder="Email" required=""/>
				<input type="password" name="Password" class="password" placeholder="Password" required=""/>	
				<input type="password" name="Password" class="password" placeholder="Confirm Password" required=""/>
				<input type="submit" value="Sign Up">
			</form>
	</div>
</div>	

</body>
</html>